$white: #ffffff;
$black: #000000;
$grey: #3B3F42;
$green: #00DD90;
$brightGreen: #00EF9B;
$blue: #006FFF;
$darkBg: #22242A;
$dark-btn-bc: #282A31;
$tint1: #797979;
$tint2: #9AA3A7;
$tint3: #f5f5f5;
$tint4: #FAFAFA;
$tint5:#40454F50;
$error: #FF557C;
$decrease: #FF006A;
$bc: #EBEBEB;
$xrpColor:#22242A;
$usdtColor:#39A883;
$btcColor:#F7931A;
$ethColor:#627EEA;
$zrxColor:#00DD90;

/*

--decrease: #FF006A;
--error: #FF557C;
--unnamed-color-ff0045: #FF0045;
--bright-green: #00EF9B;
--unnamed-color-ffffff: #FFFFFF;
--tint-1: #797979;
--tint-2: #9AA3A7;


*/

.safe-area {
    max-width: 1200px;
    margin: 0 auto;
}

.fontss {
    font-family: "all-round-gothic", sans-serif;
    font-family: "rigid-square", sans-serif;
}

p {
    font-family: "raleway", sans-serif;
}