.header-root {
    .header-wrapper {
        .header-container {
            .up-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7.5px 0;
                border-bottom: 1px solid #E7E7E7;
                .nav-item {
                    ul {
                        display: flex;
                        li {
                            padding: 0 16px;
                            border-left: 1px solid #E7E7E7;
                            font-size: 12px;
                            font-weight: normal;
                            &:first-child {
                                padding: 0 16px 0 0;
                                border-left: none;
                            }
                        }
                    }
                }
                .lang-item {
                    display: flex;
                    .lang-img {
                        margin: 0 8px 0 0;
                    }
                    .lang-text {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
            .mid-block {
                display: flex;
                justify-content: space-between;
                padding: 26px 0;
                align-items: center;
                .search-item {
                    input {
                        background: #F5F5F5;
                        border-radius: 8px;
                        width: 714px;
                    }
                }
                .right-item {
                    display: flex;
                    .user-item {
                        display: flex;
                        align-items: center;
                        padding: 10px 6px;
                        border-radius: 8px;
                        &.select {
                            background: #F1F1F1;
                        }
                        .user-text {
                            padding: 0 0 0 5px;
                            span {
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .low-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 13.5px 0;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                .category-item {
                    padding: 0 48px 0 0;
                    border-right: 1px solid #D3D3D3;
                    ul {
                        display: flex;
                        li {
                            margin: 0 0 0 48.11px;
                            font-size: 15px;
                            font-weight: 600;
                            cursor: pointer;
                            &:first-child {
                                margin: 0;
                            }
                        }
                    }
                }
                .right-item {
                    span {
                        margin: 0 0 0 48px;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                        &:first-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}